# For instance run in shell: bumpver update --patch --no-fetch --dry
[bumpver]
current_version = "2.1.3"
version_pattern = "MAJOR.MINOR.PATCH"
commit_message = "bump version {old_version} -> {new_version}"
tag_message = "{new_version}"
tag_scope = "default"
pre_commit_hook = ""
post_commit_hook = ""
commit = true
tag = true
push = true

[bumpver.file_patterns]
"README.md" = [
    "template_version-{version}",  # fills the badge
]
"bumpver.toml" = [
    'current_version = "{version}"',
]
